﻿<!DOCTYPE html >
<html >
<head>
<!-- <meta charset="UTF-8" /> -->
<meta name="viewport"  content="width= device-width,initial-scale=1.0" />
<title>ICQU</title>

<link rel="prefetch" href="/static/images/2.gif"/>
<link rel="prefetch" href="/static/images/5.gif"/>
<link rel="prefetch" href="/static/images/6.gif"/>

<link rel="prerender" href="/static/images/2.gif"/>
<link rel="prerender" href="/static/images/5.gif"/>
<link rel="prerender" href="/static/images/6.gif"/>

<link rel="stylesheet" href="/static/css.css" type="text/css" />
<script type="text/javascript" src="/static/zzsc.js"></script>
<link rel="shortcut icon" href="/static/yiban.jpg" type="image/x-icon" />
<!--<script type="text/javascript" src="link.js"></script>-->
</head> 
<body>
<!--头部-->
<header>
      <div class="header">
        <h4 class="center-title">首页</h4>
        
</header>
<!-- 代码  -->

  <div id="playBox">
    <div class="pre"></div>
    <div class="next"></div>
    <div class="smalltitle">
      <ul>
        <li class="thistitle"></li>
       <!-- <li></li>-->
        <li></li>
       <!-- <li></li>-->
        <li></li>
        <li></li>
      </ul>
    </div>
    <ul class="oUlplay">
       <!--<li><img src="images/1.gif"  class="one"  > </li>-->
        <li><img src="/static/images/2-1.gif"  class="two"   ></li>
        <li><img src="/static/images/3-1.gif"     class="three"  ></li>
       <!--<li><img src="images/4.gif"   class="four"></li>-->
       <li><img src="/static/images/5-1.gif"   class="five"  ></li>
       <li><img src="/static/images/6-1.gif"   class="six"   ></li>
    </ul>
  </div>
<!-- 代码 结束 -->
<article>
<div class="app">
<table border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td><img src="/static/images/card.png" class="ca" onclick="location='/kard'" /><p>一卡通</p></td>
            <td><img src="/static/images/weixiu.png"  class="ne"  onclick="location='/repair'" /><p onclick="location='/repair'">维修中心</p></td>
            <td><img src="/static/images/lib.png"    class="ke" onclick="location='/lib'" /><p onclick="location='/lib'" >图书馆</p></td>
        </tr>

        <tr>    
            <td><img src="/static/images/xiaoche.png"    class="xi" onclick="location='/xiaoche'"  /><p  onclick="location='/xiaoche'">校车查询</p></td>
            <td><img src="/static/images/shenghuo.png"   class="sh" onclick="location='/xiaoli'" /><p  onclick="location='/xiaoli'" >校历查询</p></td>
            <td><img src="/static/images/news-.jpg"    class="ke" onclick="location='/generic/page/0'" /><p  onclick="location='/generic/page/0'">新闻中心</p></td>
                
         </tr>
         <tr>
           <td><img src="/static/images/kebiao.png"    class="xi" onclick="location='/kebiao'"  /><p  onclick="location='/kebiao'">课表查询</p></td>
           <td><img src="/static/images/grade.jpg"    class="xi" onclick="location='/grade'"  /><p  onclick="location='/kebiao'">成绩查询</p></td>
            <td><img src="/static/images/grade.png"    class="xi" onclick="location='/person'"  /><p  onclick="location='/person'">个人中心</p></td>
         </tr>
 </table>
</div>
<div class="clear" style="text-align:center;margin-top:60px;color:LightGrey;"><p>温馨提示:如果输错了账号密码,请到</p><p>个人中心去清除缓存,则可再次登录</p></div>
</article>
</body>
</html>
